{% extends "base.html" %}


{% block page_title %}
    Home
{% endblock page_title %}


{% block content %}
    
    clsroom_detail.html<br/>

    <div>
        <h1>{{object.varName}}</h1>
        <h3>{{room.varDescription}}</h3>
    </div>
    <div>
        <h2>By : {{object.varHost.username}}

        {% if object.varHost.varSuperhost %}
            (superhost)
        {% endif %}

        </h2>

        <h3>Amenities</h3>
        <ul>
            {% for a in object.varAmenities.all %}
                <li>{{a}}</li>
            {% endfor %}
        </ul>

        <h3>Facilities</h3>
        <ul>
            {% for a in object.varFacilities.all %}
                <li>{{a}}</li>
            {% endfor %}
        </ul>

        <h3>House Rules</h3>
        <ul>
            {% for a in object.varHouse_rules.all  %}
                <li>{{a}}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %} 