{% extends "base.html" %}


{% block page_title %}
    Home
{% endblock page_title %}


{% block content %}
    
    clsroom_detail.html<br/>

    <div>
        <h1>{{object.colName}}</h1>
        <h3>{{room.colDescription}}</h3>
    </div>
    <div>
        <h2>By : {{object.colHost.username}}

        {% if object.colHost.colSuperhost %}
            (superhost)
        {% endif %}

        </h2>

        <h3>Amenities</h3>
        <ul>
            {% for a in object.colAmenities.all %}
                <li>{{a}}</li>
            {% endfor %}
        </ul>

        <h3>Facilities</h3>
        <ul>
            {% for a in object.colFacilities.all %}
                <li>{{a}}</li>
            {% endfor %}
        </ul>

        <h3>House Rules</h3>
        <ul>
            {% for a in object.colHouse_rules.all  %}
                <li>{{a}}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %} 