
{% extends "base.html"    %}



{% block page_title %}
    Home
{% endblock page_title %}
    


{% block content %}

    {% for room in arrPage.object_list  %}
        <h1>{{room.colName}} / ${{room.colPrice}}</h1>
    {% endfor %}

    <h5>

        {% if arrPage.has_previous %}
            <a href="?txtPage={{arrPage.previous_page_number}}">이전</a>    
        {% endif %}
            
        Page {{arrPage.number}} / {{arrPage.paginator.num_pages}}

        {% if arrPage.has_next  %}
            <a href="?txtPage={{arrPage.next_page_number}}">다음</a>
        {% endif %}

    </h5>

    

{% endblock content %}
    

