
{% extends "base.html"    %}



{% block page_name %}
    Home
{% endblock page_name %}
    


{% block content %}

    {% for room in arrRooms.object_list  %}
        <h1>{{room.varName}} / ${{room.varPrice}}</h1>
    {% endfor %}

    <!--
        장고는 ｛｛ page-1 ｝｝같은것을 허용하지 않음
        결과만을 원한다
    -->
    
    <h5>

        
        {% if arrRooms.has_previous %}
            <a href="?txtPage={{arrRooms.number|add:-1}}">이전</a>    
        {% endif %}
            
        Page {{arrRooms.number}} / {{arrRooms.paginator.num_pages}}

        {% if arrRooms.has_next  %}
            <a href="?txtPage={{arrRooms.number|add:1}}">다음</a>
        {% endif %}

    </h5>



{% endblock content %}
    

